:root {
  --primary-color: #38761D;
  --secondary-color: #F1C40F; 
  --accent1-color: #1A5276; 
  --accent2-color: #F8F9F9; 
  --heading-font: "Georgia", serif;
  --body-font: "Arial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 840px; 
  margin: 0 auto; 
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

header {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 100px; 
    height: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    text-decoration: none;
    color: var(--accent2-color);
    padding: 10px 15px;
    display: block;
}

header nav ul li a:hover {
    background-color: var(--accent1-color);
}

.hero {
  position: relative; 
}

.hero img {
  display: block;
  width: 100%; 
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8; 
  background-color: var(--accent1-color);
  color: var(--accent2-color); 
}

.hero article {
  position: absolute;
  top: 120px; 
  left: 5%; 
  width: 90%;
  padding: 20px;
  background-color: var(--accent2-color);
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero article img {
  float: right; 
  width: 125px; 
  margin-left: 15px; 
  border: 2px solid var(--secondary-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    margin: 0;
    padding: 0;
}

.socialmedia a {
    text-decoration: none; 
    margin-left: 10px;
}

.socialmedia img {
    width: 30px; 
    height: 30px;
    vertical-align: middle;
}