nav {
  background-color: #333;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white; 
  padding: 0.5rem 1rem; 
  display: inline-block; 
  text-decoration: none;
}

main {
  max-width: 800px; 
  margin: 1rem auto;
  padding: 1rem;
}

h1 {
  color: #2a4b8d; /* required: color */
  margin-bottom: 1rem;
  text-align: center;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2); 
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}


aside img {
  width: 200px;
  height: auto; 
}


main img {
  width: 150px;       
  height: auto;       
  border: 2px solid #333; 
  padding: 5px;       
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto 1rem auto;
  border-radius: 50%; 
}


p {
  padding: 0;
}


footer {
  margin-top: 15px;          
  border-top: 1px solid #000; 
  text-align: center;         
}
