
header,
.grid,
footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  background-color: #333;
  padding: 1rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


nav a {
  color: white;
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
}

nav a:hover {
  background-color: #555;
  border-radius: 5px;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  gap: 1rem;
}


main {
  padding: 1rem;
}


h1 {
  color: #2a4b8d;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 2px solid #333; 
  padding-bottom: 0.5rem;
}


aside {
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}


main img {
  width: 150px;
  height: auto;
  border: 2px solid #333;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto 1rem auto;
  border-radius: 50%;
}


p {
  padding: 0;
}


footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
